<!DOCTYPE html>
<html lang="en">
<head>
   {{>headerlinks}}
    <title>404 Error</title>
</head>
<body>
    
 <!-- Header + Navbar set -->
       {{>header}}
        <!-- Center Section -->
       <div class="container text-center mt-5 mb-5">
           <img src="images/error.png" alt="error" class="container-fluid w-25">
           <h2><span>OOPS!</span> the page you were trying to reach could not be found...</h2>
       </div>

        <!-- Footer -->
        

   {{>footer}}
  <!-- Footer -->
    
</body>
</html>