<!DOCTYPE html>
<html lang="en">
<head>
   {{>headerlinks}}
    <title>About Us</title>
</head>
<body>
    
 <!-- Header + Navbar set -->
        {{>header}}
        <!-- Center Section -->
        <div class="container">
            <div class="row gx-5 col-12" >
                <div class="col-sm-6 mt-5 mb-5">
                    <h2>I am a <span>MERN</span> Stack Developer</h2>
                    <p class="mt-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor porro corporis illum nulla quo quos exercitationem, debitis tempore? Numquam facere quo nulla? Ut, cupiditate ipsam eveniet fuga sint aut inventore rerum eligendi consectetur officia necessitatibus veniam, suscipit ea alias fugit laborum dolorem quasi quae aliquam soluta quod dolorum excepturi? Esse et quos doloribus inventore recusandae laborum? Repudiandae, optio? Deserunt adipisci culpa expedita veniam cum dolorem rem ad saepe, commodi voluptates laudantium dolore animi laboriosam, possimus sequi eius. Commodi voluptates, perferendis similique facilis, facere asperiores modi veniam consequatur nam reiciendis delectus alias est animi non? Corrupti neque, repellat ratione commodi reprehenderit omnis deleniti doloremque quia fugiat inventore culpa voluptatem esse eius suscipit vel id laborum tempora ut doloribus, magnam voluptatum veniam quaerat? Magni quos fuga accusamus architecto vero consectetur harum cumque expedita aliquid maxime, quidem vitae atque doloribus nesciunt repudiandae est earum laboriosam odit itaque possimus a ducimus dolore. Incidunt, harum.</p>
                    <a class="btn btn-primary mt-3
                    " href="/weather" role="button">Check Now</a>
                </div>
                <div class="col-sm-6 mt-5 mb-5">
                    <img class="container-fluid img" src="images/umar.jpg" alt="umar">
                </div>
            </div>
        </div>

        <!-- Footer -->
        
{{>footer}}
  
  <!-- Footer -->
    
</body>
</html>