 <footer class="page-footer font-small  foot">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3 my-3 text-black">© 2022 Copyright:
      <a href="/" style="text-decoration: none;color: #000;font-family: cursive"><i class="fa fa-pencil fa-spin" style="color: rgba(110, 122, 117, 0.849);"></i><span id="logo"> Alpine</span> Solutions</a>
    </div>
    <!-- Copyright -->
  
  </footer>
  