 <div class="container-fluid navbar-light header">
            <div class="container-fluid mt-3 mb-3">
                <nav class="navbar navbar-expand-lg mx-5">
                    <div class="container-fluid">
                    <a class="navbar-brand" href="/"><h4 style="font-family: cursive"><i class="fa fa-pencil fa-spin" style="color: rgba(110, 122, 117, 0.849);"></i><span id="logo"> Alpine</span> Solutions</h4></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                        <div class="navbar-nav">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                        <a class="nav-link" href="/about">About</a>
                        <a class="nav-link" href="/weather">Weather Services</a>
                        </div>
                    </div>
                    </div>
                </nav>
            </div>
        </div>